.navbar-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem ;
}

.navbar-brand{
    font-size: 2rem;
    padding-right: 400px;
    color: '#fff';

}

.navbar-links{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar-link{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    transition: color 0.3s ease;
    font-size: 1rem;
    
}

.navbar-link:hover{
    color: #000;
    border-radius: 20px;
    background-color: #fff;
    padding: 5px;
}